<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862552998737-nvgm0la24k5krka81m83503a8t4jdblb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862552998737-nvgm0la24k5krka81m83503a8t4jdblb</string>
	<key>API_KEY</key>
	<string>AIzaSyBeaKPLzKCBv7rZ50EzcqhSfEKF8fKp2Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>862552998737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bthere.new</string>
	<key>PROJECT_ID</key>
	<string>bthere-b3dc6</string>
	<key>STORAGE_BUCKET</key>
	<string>bthere-b3dc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862552998737:ios:908daf5ce7ad7c1e</string>
	<key>DATABASE_URL</key>
	<string>https://bthere-b3dc6.firebaseio.com</string>
</dict>
</plist>